 /*#foto-box{
    background: red;
    padding: 20px;
}*/

#foto-box img {
    max-width: 300px;
    height: auto;
    width: 100%;
    border-radius: 0;
}

.overlay-img {
    background: whitesmoke;
    padding: 10px;
}

.overlay-img img {
    width: 250px;
    height: auto;
    border-radius: 25px;
}

.background{
    background-color: aquamarine;
}