@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
    background-color: blanchedalmond;
    font-family: 'Patrick Hand SC', cursive;
    letter-spacing: 1px;
    font-size: 22px;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.wrapper {
    width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

button {
    margin: 0px 20px 15px 0px;
    padding: 10px;
    font-size: 24px;
    font-weight:600;
    border: none;
    background-color:darkgrey;
}

input {
    padding: 10px;
    border: 1px solid #cdcdcd;
    margin-left: 140px;
}

button:hover {
    background-color: darkkhaki;
}

.headliner {
    font-weight: 400;
    font-size: 1.6em;
    text-align: center;
    margin: 12px 0px 15px 0px;
}

li {
    padding: 10px;
    font-size: 1.3em;
    list-style: none;
    margin-left: -1.7em;
}