.textcontainer {
background-color: darkred;
width: 350px;
padding: 10px;
text-align: justify;
hyphens: auto;
}


body {background-color: rgb(136, 188, 204);}
h1 {
     color: blue;
     font-family: Verdana;
     font:300%;
}
#p01 {
    color: chocolate;
    font-family: Courier;
 font-size: 160%;
 border:2px solid brown
 
}

.city {
color: red;
padding: 30px;
border:1px solid brown

}