@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.animatebounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 15s;
  -webkit-animation-duration: 15s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 2, 3);
    transform: scale3d(1, 2, 3);
  }

  50% {
    -webkit-transform: scale3d(4, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-duration: 15;
  -webkit-animation-duration: 15;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-3 9:40:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

.color-change-5x {
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
}

/* Colours */
/* Sizess */
/* Positions */
/* Timings */
/* Main stage sylings */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #377771;
}

.container {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  display: flex;
  background-color: #ffc9ad;
  position: relative;
  width: 380px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  animation: DayCycle 3s infinite cubic-bezier(0.41, 0.15, 0.64, 0.91) -1s;
}

/* Custom animations */
@keyframes GroundLoop {
  from {
    left: -268.3333333333px;
  }
  to {
    left: -518.3333333333px;
  }
}
@keyframes CharacterSway {
  0% {
    transform: translate(0, 0);
  }
  55% {
    transform: translate(125px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes CharacterMotion {
  10% {
    bottom: 0;
  }
  27.5% {
    bottom: -65px;
  }
  50% {
    bottom: 0;
  }
}
@keyframes SwitchThatMood {
  0% {
    transform: rotate(-12deg) scaleY(1);
  }
  60% {
    transform: rotate(195deg) scaleY(1);
  }
  85% {
    transform: rotate(167deg) scaleY(0.8);
  }
  90% {
    transform: rotate(168deg) scaleY(-1);
  }
  92% {
    transform: rotate(168deg) scaleY(-0.8);
  }
  93.5% {
    transform: rotate(168deg) scaleY(-1);
  }
  95% {
    transform: rotate(168deg) scaleY(-0.9);
  }
  97.5% {
    transform: rotate(168deg) scaleY(-1);
  }
  98% {
    transform: rotate(168deg) scaleY(-0.95);
  }
  98.25% {
    transform: rotate(168deg) scaleY(-1);
  }
  99.25% {
    transform: rotate(168deg) scaleY(-0.98);
  }
  100% {
    transform: rotate(168deg) scaleY(-1);
  }
}
@keyframes MouthColours {
  60% {
    fill: #f08080;
  }
  85% {
    fill: #cd6e6e;
  }
  86% {
    fill: #f08080;
  }
}
@keyframes EyeMove {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(720deg);
  }
  85% {
    transform: rotate(680deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes SunMove {
  from {
    transform: translate(0, 0) rotate(90deg);
  }
  to {
    transform: translate(-580px, 0) rotate(-90deg);
  }
}
@keyframes DayCycle {
  0% {
    background-color: #ffad85;
  }
  50% {
    background-color: #ffc9ad;
  }
  100% {
    background-color: #ffad85;
  }
}
@keyframes GroundColourCycle {
  0% {
    background-color: #ff6c47;
  }
  50% {
    background-color: #ff8e72;
  }
  100% {
    background-color: #ff6c47;
  }
}
/* ...the rest */
.sun {
  position: absolute;
  top: -133.3333333333px;
  right: -200px;
  width: 200px;
  height: 200px;
  background-color: #faff70;
  border-radius: 50%;
  opacity: 0.5;
  transform-origin: center bottom;
  animation: SunMove 3s infinite cubic-bezier(0.41, 0.15, 0.64, 0.91) -1s;
}

.bumps {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  position: absolute;
  bottom: -100px;
  left: -268.3333333333px;
  display: inline-flex;
  white-space: nowrap;
  animation: GroundLoop 3s linear infinite;
}

.bump {
  position: relative;
  width: 250px;
  height: 300px;
  background-color: #ff8e72;
  animation: GroundColourCycle 3s infinite cubic-bezier(0.41, 0.15, 0.64, 0.91) -1s;
}
.bump::after {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: #ffc9ad;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  animation: DayCycle 3s infinite cubic-bezier(0.41, 0.15, 0.64, 0.91) -1s;
}

.character {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 115px;
  left: 31.6666666667px;
}

.head {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #377771;
  border: 20px solid #204642;
  box-shadow: inset -10px 0 0 rgba(0, 0, 0, 0.1);
  animation: CharacterSway 3s infinite cubic-bezier(0.4, -0.01, 0.65, 0.97),
    CharacterMotion 3s infinite cubic-bezier(0.76, 0.32, 0.17, 0.85);
}

.mouth {
  position: absolute;
  width: 90%;
  height: 50%;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

svg.mouth-shadow {
  width: 100%;
  height: 95%;
  position: absolute;
  top: 17%;
  animation: SwitchThatMood 3s infinite cubic-bezier(0.4, -0.01, 0.65, 0.97),
    MouthShadowOpacity 3s cubic-bezier(0.4, -0.01, 0.65, 0.97);
  transform-origin: center top;
}
svg.mouth-shadow path {
  fill: rgba(0, 0, 0, 0.1);
}

svg.flipper {
  width: 100%;
  height: 95%;
  animation: SwitchThatMood 3s infinite cubic-bezier(0.4, -0.01, 0.65, 0.97);
  transform-origin: center top;
}
svg.flipper path {
  width: 100%;
  height: 100%;
  fill: #f08080;
  animation: MouthColours 3s infinite cubic-bezier(0.4, -0.01, 0.65, 0.97);
}

.eye {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(#f9f7f3, #eae4d6);
  position: absolute;
  top: -50px;
  left: calc(50% - 45px);
}
.eye::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #204642;
  border-radius: 50%;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  transform-origin: 40% 60%;
  animation: EyeMove 3s infinite;
}
.eye:nth-child(2) {
  left: 50%;
}
.eye:nth-child(2)::after {
  transform-origin: 30% 30%;
}

/* Support for CSS `d` property is required. */

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #d4e6ff;
  display: flex;
  justify-content: center;
  margin: 0;
}

.sausage-dog-animation {
  height: 25rem;
  max-height: 80vh;
  max-width: 80vw;
}

.ear,
.closed-eye,
.lean,
.front-legs,
.leg,
.head,
.tail,
.tail-blur,
.shadow {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ball,
.ball-decoration,
.ball-sound {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ball {
  animation-name: squishBall;
  transform: matrix(
    1.0951654,
    0.52195853,
    -0.52866476,
    1.2371611,
    208.27138,
    -632.28196
  );
}

@keyframes squishBall {
  0%,
  50%,
  72%,
  80%,
  92%,
  100% {
    d: path(
      "m 930.80242,477.19065 c -13.05851,3.00801 -24.77881,15.97694 -26.81485,30.67673 -2.03603,14.69979 5.61282,31.12503 15.54844,43.47271 9.93563,12.34768 22.15522,20.61485 36.12779,24.29677 13.97258,3.68192 29.69644,2.77869 42.91157,-2.81649 13.21513,-5.59518 23.92113,-15.88139 30.65943,-28.14324 6.7383,-12.26185 9.5079,-26.49697 5.7369,-38.5172 -3.771,-12.02022 -14.0825,-21.82316 -25.5603,-24.46605 -11.47786,-2.6429 -24.12011,1.87601 -37.63861,0.6591 -13.5185,-1.21691 -27.91187,-8.17033 -40.97037,-5.16233 z"
    );
    transform: matrix(
      1.0951654,
      0.52195853,
      -0.52866476,
      1.2371611,
      208.27138,
      -632.28196
    );
  }
  65%,
  85% {
    d: path(
      "m 932.4158,479.26229 c -14.67189,0.93637 -26.39219,13.9053 -28.42823,28.60509 -2.03603,14.69979 5.61282,31.12503 15.94228,38.97676 10.32947,7.85173 23.3365,7.12856 34.39281,10.90173 11.0563,3.77318 20.16082,12.04166 33.72906,12.76579 13.56828,0.72414 31.59878,-6.09489 42.72528,-18.16177 11.1265,-12.06689 15.3474,-29.37891 10.9229,-43.93943 -4.4245,-14.56052 -17.4943,-26.36654 -28.8312,-27.22343 -11.337,-0.85689 -20.93852,9.23684 -34.54977,8.73602 -13.61125,-0.50082 -31.23124,-11.59712 -45.90313,-10.66076 z"
    );
    transform: matrix(
      1.0951654,
      0.52195853,
      -0.52866476,
      1.2371611,
      208.27138,
      -642.28196
    );
  }
}

.ball-decoration {
  animation-name: ballDecorationAnimation;
}

@keyframes ballDecorationAnimation {
  0%,
  50%,
  72%,
  80%,
  92%,
  100% {
    d: path(
      "m 963.39546,597.71943 c 21.49913,-19.30313 4.80913,-64.80408 16.71919,-83.46282 16.19467,-25.37116 67.93925,-22.92156 89.43095,-47.68524"
    );
  }
  65%,
  85% {
    d: path(
      "m 978.40243,581.77452 c 21.49916,-19.30313 -15.82546,-51.20401 -3.9154,-69.86275 16.19467,-25.37116 63.71847,-19.16982 85.21017,-43.9335"
    );
  }
}

.ball-sound {
  animation-name: ballSound;
  visibility: hidden;
}

@keyframes ballSound {
  0%,
  60%,
  70%,
  80%,
  90%,
  100% {
    visibility: hidden;
    transform: translateY(0);
  }
  65%,
  67%,
  69%,
  85%,
  87%,
  89% {
    visibility: visible;
    transform: translateY(-3px);
  }
  66%,
  68%,
  86%,
  88% {
    visibility: visible;
    transform: translateY(3px);
  }
}

.ear {
  animation-name: moveEar;
  transform-origin: top center;
  transform-box: fill-box;
}

@keyframes moveEar {
  0%,
  12%,
  21%,
  31%,
  35%,
  100% {
    transform: rotateZ(0);
  }
  9%,
  19%,
  29% {
    transform: rotateZ(-5deg);
    transform: rotateZ(-10deg);
  }
  13%,
  23%,
  33% {
    transform: rotateZ(5deg);
    transform: rotateZ(10deg);
  }
}

.closed-eye {
  animation-name: closeEye;
}

@keyframes closeEye {
  0%,
  50%,
  100% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
}

.lean {
  animation-name: leanDown;
  transform-origin: center;
}

@keyframes leanDown {
  0%,
  50%,
  100% {
    transform: rotateZ(0) translateY(0);
  }
  60%,
  90% {
    transform: rotateZ(10deg) translateY(5%);
  }
}

.front-legs {
  animation-name: flexLegs;
}

@keyframes flexLegs {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  60%,
  90% {
    transform: translateX(12%);
  }
}

.leg {
  animation-name: rotateLegs;
  transform-origin: bottom left;
  transform-box: fill-box;
  transform: translateX(16%) rotate(-10deg);
}

@keyframes rotateLegs {
  0%,
  50%,
  100% {
    transform: translateX(16%) rotate(-10deg);
  }
  60%,
  90% {
    transform: translateX(35%) rotate(-83deg);
  }
}

.head {
  animation-name: lookDown;
  transform-origin: top right;
  transform-box: fill-box;
}

@keyframes lookDown {
  0%,
  55%,
  100% {
    transform: rotateZ(0) translate(0, 0);
  }
  60%,
  90% {
    transform: rotateZ(5deg) translate(2.5%, 6%);
  }
}

.tail {
  animation-name: moveTail;
  transform-origin: bottom center;
}

@keyframes moveTail {
  0%,
  50%,
  90%,
  100% {
    d: path(
      "m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 14.092,504.432 14.092,504.432 c 0,0 128.8135,26.71916 147.5365,64.19816 z"
    );
  }
  64%,
  70%,
  76%,
  82% {
    d: path(
      "m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 77.565044,422.94078 77.565044,422.94078 c 0,0 65.340456,108.21038 84.063456,145.68938 z"
    );
  }
  60%,
  66%,
  72%,
  78%,
  84% {
    d: path(
      "m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 14.092,504.432 14.092,504.432 c 0,0 128.8135,26.71916 147.5365,64.19816 z"
    );
  }
  62%,
  68%,
  74%,
  80%,
  86% {
    d: path(
      "m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 159.419,390.74 159.419,390.74 c 0,0 -16.5135,140.41116 2.2095,177.89016 z"
    );
  }
}

.tail-blur {
  animation-name: tailBlur;
  transform-origin: bottom center;
}

@keyframes tailBlur {
  0%,
  59%,
  90%,
  100% {
    opacity: 0;
  }
  64%,
  70%,
  76%,
  82% {
    transform: rotate(-2deg);
    opacity: 0;
  }
  60%,
  66%,
  72%,
  78%,
  84% {
    opacity: 0.3;
  }
  62%,
  68%,
  74%,
  80%,
  86% {
    transform: rotate(2deg);
    opacity: 0;
  }
}

.shadow {
  animation-name: scaleShadow;
  transform-origin: center center;
}

@keyframes scaleShadow {
  0%,
  55%,
  100% {
    transform: scaleX(1) translateX(0);
  }
  60%,
  90% {
    transform: scaleX(1.1) translateX(4%);
  }
}
:root {
  --animation-duration: 1s;
  --bounce-height: calc(205px - 100vh);
}
body {
  background-image: linear-gradient(
    75deg,
    white,
    lightgray 5%,
    white 15%,
    lightgray 55%,
    lightgray 90%,
    white
  );
  background-size: 100%;
  background-attachment: fixed;
  min-height: 300px;
  font-family: arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  margin: 0;
}
h1 {
  line-height: 24px;
  margin: 0;
  font-weight: normal;
}
#suport {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#smash {
  animation-name: smash;
  animation-duration: var(--animation-duration);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: bottom;
}
#translateShadow,
#rotateImg,
#light {
  border-radius: 50%;
  display: inline-block;
  width: 200px;
  height: 200px;
}
#light {
  background-image: radial-gradient(
    circle at 20% 20%,
    rgba(255, 221, 179, 0.7),
    rgba(255, 221, 179, 0.5) 10%,
    transparent 30%,
    rgba(83, 42, 0, 0.8) 85%
  );
  position: absolute;
  z-index: 1;
}
#translateShadow {
  animation-name: translateShadow;
  animation-duration: var(--animation-duration);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#rotateImg {
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='75 75 251 251' fill='rgb(83,42,0)'><path d='M313.3,145.3c-14.4-29.3-38.8-50.5-67.1-61.6c-4.6-1.7-16.2-5.1-21.3-6.3	c-26.3-5.3-54.5-2.3-80.4,10.4c-30.2,14.8-52.9,40.6-63.8,72.5c-10.9,31.8-8.7,66,6.2,96.1l0.1,0.2c2.1,4.2,4.4,8.3,6.9,12.2l0,0	c0,0,0,0,0,0c23.6,36.9,64.4,58,106.5,58c18.7,0,37.6-4.1,55.4-12.9c30.2-14.8,52.9-40.6,63.8-72.5 	C330.3,209.6,328.1,175.5,313.3,145.3z M238.3,86.2c25.2,12.5,41.2,36.6,46,68.5c-24.3,0.8-45.4-15.7-67.4-33.1 	c-18.4-14.5-37.3-29.3-58.9-34.2C184.6,77.6,212.8,77.7,238.3,86.2z M85.4,161.9c10.4-30.6,32.2-55.3,61.2-69.6 	c0.9-0.4,1.7-0.8,2.6-1.2c23.6,2.3,44.4,18.6,64.6,34.5c21.4,16.9,43.4,34.1,68.8,34.1c0.8,0,1.5,0,2.3-0.1c1,9.5,1.1,19.7,0.2,30.4 	c-9.8-3.3-19.3-5.9-25.7-7.6c-37.6-9.8-79.7-16.1-112.5-16.7c-24-0.5-53,1.8-66,14.2C81.8,173.9,83.4,167.8,85.4,161.9z M91.4,254.4 	l-0.1-0.2c-10.1-20.5-14.1-42.8-11.9-65l0.5,0.2c5.3-12.9,29-19.5,66.7-18.8c32.5,0.7,74.1,6.8,111.4,16.6 	c10.1,2.6,18.9,5.3,26.5,7.8c-1.2,10.2-3.3,20.4-6.3,30.3c-19.8-8.8-48.7,2.6-81.8,15.7c-32,12.6-68.1,26.8-99.7,23 	C94.9,261,93.1,257.7,91.4,254.4z M187.8,321.2c-34.6-3.6-67-21.9-87.5-51.7c31.8,2.4,66.9-11.4,98-23.7 	c32.4-12.8,60.6-23.9,78.4-15.5c-5.6,17.2-13.6,33.4-23.5,47c-12.8,17.7-34.5,39.5-65.6,43.3L187.8,321.2z M253.5,309.4 	c-15.6,7.7-32.1,11.6-48.4,12.3c36.2-12.4,62.8-49,76.1-88.8c9.1,6.7,14.2,20.1,15.8,40.6C285.7,288.6,270.9,300.9,253.5,309.4z 	 M314.8,239.8c-3.3,9.8-7.8,19-13.3,27.4c-2.4-19.7-8.5-32.6-18.7-39.3c3.1-10.3,5.4-20.8,6.6-31.1c19.2,6.9,29.2,13.2,30.7,17.3 	l0.4-0.2C319.6,222.6,317.7,231.3,314.8,239.8z M290,191.7c1.1-11.3,1-22.1-0.2-32.4c6.8-0.9,13.8-3,21.1-6.8l-2.3-4.5 	c-6.8,3.4-13.2,5.4-19.5,6.3c-1.6-11.1-4.6-21.4-8.8-30.7c-4.6-10.3-10.8-19.2-18.3-26.6c19.5,11.6,36,28.7,46.8,50.5 	c9.3,18.9,13.4,39.4,12.3,59.8C314.9,201.6,302.6,196.1,290,191.7z'/></svg>");
  background-color: darkorange;
  background-size: 100%;
  animation-name: rotateImg;
  animation-duration: calc(var(--animation-duration) * 5.3);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes translateShadow {
  0% {
    transform: translateY(0);
    box-shadow: 40px 40px 10px #444466;
  }
  100% {
    transform: translateY(var(--bounce-height));
    box-shadow: 40px 350px 250px #444466;
  }
}
@keyframes smash {
  0% {
    transform: scaleY(0.7);
  }
  15% {
    transform: scaleY(1);
  }
}
@keyframes rotateImg {
  100% {
    transform: rotate(360deg);
  }
}
body {
  background: #000;
}

a:hover {
  animation: animate 8s linear infinite;
}
body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.9);
}

ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: grow 1.6s ease-in-out infinite;
}
@keyframes grow {
  0%,
  40%,
  100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}

ul li:nth-child(1) {
  animation-delay: -1.4s;
  background: #ffff00;
  box-shadow: 0 0 50px #ffff00;
}
ul li:nth-child(2) {
  animation-delay: -1.2s;
  background: #76ff03;
  box-shadow: 0 0 50px #76ff03;
}
ul li:nth-child(3) {
  animation-delay: -1s;
  background: #f06292;
  box-shadow: 0 0 50px #f06292;
}
ul li:nth-child(4) {
  animation-delay: -0.8s;
  background: #4fc3f7;
  box-shadow: 0 0 50px #4fc3f7;
}
ul li:nth-child(5) {
  animation-delay: -0.6s;
  background: #ba68c8;
  box-shadow: 0 0 50px #ba68c8;
}
ul li:nth-child(6) {
  animation-delay: -0.4s;
  background: #f57c00;
  box-shadow: 0 0 50px #f57c00;
}
ul li:nth-child(7) {
  animation-delay: -0.2s;
  background: #673ab7;
  box-shadow: 0 0 50px #673ab7;
}
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.animate__bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 0.5;
  -webkit-animation-duration: 0.5;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
body {
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
}

#container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*Neon*/
a {
  text-align: center;
  font-size: 7em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

a:nth-child(1) {
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

a:nth-child(2) {
  font-family: Iceland;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

a:nth-child(3) {
  font-family: Pacifico;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

a:nth-child(4) {
  font-family: "Press Start 2P";
  animation: neon4 1.5s ease-in-out infinite alternate;
}

a:nth-child(5) {
  font-family: Audiowide;
  animation: neon5 1.5s ease-in-out infinite alternate;
}

a:nth-child(6) {
  font-family: Vampiro One;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
      0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
      0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*Make stuff responsive*/

@media (max-width: 650px) {
  p {
    font-size: 3.5em;
  }
}

body {
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
}

#container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*Neon*/
p {
  text-align: center;
  font-size: 7em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

p:nth-child(1) {
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

p:nth-child(2) {
  font-family: Iceland;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

p:nth-child(3) {
  font-family: Pacifico;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

p:nth-child(4) {
  font-family: "Press Start 2P";
  animation: neon4 1.5s ease-in-out infinite alternate;
}

p:nth-child(5) {
  font-family: Audiowide;
  animation: neon5 1.5s ease-in-out infinite alternate;
}

p:nth-child(6) {
  font-family: Vampiro One;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
      0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
      0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*Make stuff responsive*/

@media (max-width: 650px) {
  p {
    font-size: 3.5em;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: hotpink;
}

.scene {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 25%;
  left: 525;
  transform: translate(-50%, -50%);
}

.upper {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.moon {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: deeppink;
  position: absolute;
  bottom: -150px;
  left: 50px;
  border: 5px solid #333;
  box-sizing: border-box;
  box-shadow: inset 0 -160px mediumvioletred;
  opacity: 0.9;
}

.crater1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 150px;
  background-color: mediumvioletred;
  opacity: 0.2;
  border: 1px solid #333;
}

.crater2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 180px;
  background-color: mediumvioletred;
  opacity: 0.2;
  border: 1px solid #333;
}

.cloud1 {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 100px;
  right: -50px;
  animation: float2 4s ease-in-out infinite alternate;
}

.cloud2 {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  animation: float1 4s ease-in-out infinite alternate;
}

@keyframes float1 {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(50px);
  }
}

@keyframes float2 {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(-50px);
  }
}

.circle {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: 50%;
  background-color: fuchsia;
}

.circle::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
  left: -40px;
  border-radius: 50%;
  background-color: fuchsia;
}

.circle::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
  left: 40px;
  border-radius: 50%;
  background-color: fuchsia;
}

.filler {
  width: 145px;
  height: 40px;
  border-radius: 17px;
  position: absolute;
  top: 70px;
  left: 28px;
  background-color: fuchsia;
  box-shadow: inset 0 -5px purple;
}

.star1 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: purple;
  position: absolute;
  top: 20px;
  right: 0;
  animation: twinkle 0.5s 0.2s linear infinite alternate;
}

.star1::after {
  content: "";
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: purple;
  position: absolute;
  top: -7px;
  right: 8px;
  animation: twinkle 0.5s 0.2s linear infinite alternate;
}

.star2 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: purple;
  position: absolute;
  top: -20px;
  right: 200px;
  animation: twinkle 0.5s 0.3s linear infinite alternate;
}

.star2::after {
  content: "";
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: purple;
  position: absolute;
  top: -7px;
  right: 8px;
  animation: twinkle 0.5s 0.3s linear infinite alternate;
}

.star3 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: purple;
  position: absolute;
  top: 130px;
  left: -20px;
  animation: twinkle 0.5s linear infinite alternate;
}

.star3::after {
  content: "";
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: purple;
  position: absolute;
  top: -7px;
  left: 8px;
  animation: twinkle 0.5s linear infinite alternate;
}

@keyframes twinkle {
  to {
    background-color: deeppink;
  }
}

.tail {
  width: 150px;
  height: 120px;
  position: absolute;
  bottom: -10px;
  left: 2px;
}

.left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: darkslateblue;
  position: absolute;
  top: 10px;
  left: 20px;
  border: 1px solid #333;
  z-index: 1;
}

.left::before {
  content: "";
  width: 60px;
  height: 20px;
  border-bottom: 60px solid darkslateblue;
  border-radius: 0 0 0 100%;
  position: absolute;
  top: -20px;
  left: -30px;
  animation: excite1 2s infinite alternate linear;
  transform-origin: right;
}

@keyframes excite1 {
  to {
    transform: rotateZ(-5deg);
  }
}

.right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: darkslateblue;
  position: absolute;
  top: 10px;
  right: 20px;
  border: 1px solid #333;
  z-index: 1;
}

.right::after {
  content: "";
  width: 60px;
  height: 20px;
  border-bottom: 60px solid darkslateblue;
  border-radius: 0 0 100% 0;
  position: absolute;
  top: -20px;
  right: -30px;
  animation: excite2 2s linear alternate infinite;
  transform-origin: left;
}

@keyframes excite2 {
  to {
    transform: rotateZ(5deg);
  }
}

.body {
  height: 80px;
  width: 58px;
  border-radius: 25px;
  position: absolute;
  bottom: -18px;
  left: 54px;
  background-color: darkslateblue;
  transform: rotateZ(-10deg);
  border: 2px solid #333;
}

.drop {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: purple;
  position: absolute;
  bottom: -25px;
  right: 180px;
  animation: spray 3s ease-out infinite;
}

.drop::before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: purple;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: spray 3s 0.3s ease-out infinite;
}

.drop::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: purple;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: spray 3s 0.7s ease-out infinite;
}

@keyframes spray {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-100px);
  }
  60% {
    transform: translateY(0);
  }
}

.lower {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 5px solid #333;
  overflow: hidden;
}

.whale {
  width: 400px;
  height: 400px;
  border-radius: 300px;
  position: absolute;
  top: -250px;
  left: 50px;
  background-color: slateblue;
  box-shadow: inset 0 -10px darkslateblue;
  border: 5px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}

.eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 110px;
  right: 120px;
  background-color: #333;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    transform: scaleY(0.1);
  }
  5% {
    transform: scaleY(0.1);
  }
  5.1% {
    transform: scaleY(1);
  }
}

.detail1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: lightsteelblue;
  overflow: hidden;
  border: 2px solid #333;
  box-sizing: border-box;
}

.fin {
  width: 50px;
  height: 120px;
  border-radius: 40px;
  position: absolute;
  bottom: 0;
  right: 180px;
  background-color: slateblue;
  border: 5px solid #333;
  border-top: 5px solid transparent;
  transform: rotateZ(15deg);
  box-shadow: inset 0 -10px darkslateblue;
  animation: swim 2s linear infinite alternate;
  transform-origin: top;
}

@keyframes swim {
  to {
    transform: rotateZ(20deg);
  }
}

.detail2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 30px;
  border-bottom: 8px solid #333;
  border-right: 8px solid #333;
  transform: rotateZ(-50deg);
}

.detail2::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 10px;
  border-bottom: 8px solid #333;
  border-right: 8px solid #333;
}

.detail2::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 0;
  border-bottom: 8px solid #333;
  border-right: 8px solid #333;
}
