body {
  background-color: rgb(202, 240, 230);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.content {
  color: rgb(42, 70, 62);
  padding-left: 20%;
  padding-right: 20%;
}

.topnav {
  background-color: white;
  height: 48px;
  padding: 14px 16px;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.topnav a {
  float: left;
  color: rgb(76, 179, 150);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

h1,
h2 {
  width: 100%;
}

.topnav a:hover {
  background-color: rgb(202, 250, 234);
  color: black;
}

.topnav a.active {
  background-color: rgb(103, 167, 150);
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 48px;
  border: transparent;
  margin-top: 20px;
  align-self: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.footer a {
  float: left;
  color: rgb(76, 179, 150);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer a:hover {
  background-color: rgb(202, 250, 234);
  color: black;
}

.footer a.active {
  background-color: rgb(106, 224, 193);
  color: white;
}

.box {
  text-align: start;
  width: 100%;
  max-height: 50%;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.boximg {
  float: left;
  max-width: 30%;
  height: auto;
  background-color: whitesmoke;
  margin-right: 10px;
}

.contentbox {
  width: 80%;
  height: auto;
  background-color: rgb(136, 182, 170);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

p {
  width: 100%;
  font-size: 25px;
  color: whitesmoke;
  font-weight: 400;
}
.seperate {
  width: 1%;
  height: 20%;
}

.mealsbox {
  max-width: 32.6%;
  height: auto;
  background-color: rgb(136, 182, 170);
  display: flex;
  flex-direction: column;
}
.mealsbox img {
  width: 100%;
  max-height: 40%;
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  .box {
    flex-direction: column;
  }
  .mealsbox {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .boximg {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .videoboxright,
  .videoboxleft {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  iframe {
    max-width: 100%;
  }
  .contentbox {
    max-width: 100%;
  }
}

.mealsbox p {
  width: 85%;
  padding: 5%;
  font-size: 18px;
  color: whitesmoke;
}

iframe {
  width: 40%;
  height: 30%;
  height: auto;
}

.videoboxright {
  width: 55%;
  height: auto;
  background-color: rgb(136, 182, 170);
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
.videoboxleft {
  width: 55%;
  height: auto;
  background-color: rgb(136, 182, 170);
  display: flex;
  flex-direction: column;
  margin-right: 1%;
}
.videoboxright p,
.videoboxleft p {
  padding: 5%;
  font-size: 18px;
  color: whitesmoke;
  align-items: center;
}
