 *{
    text-align: center;
}

#foto-box img {
    max-width: 300px;
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.overlay-img img {
    width: 250px;
    height: auto;
}

.background{
    background-color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,51,1) 35%, rgba(0,212,255,1) 100%);
}

#Table{
    display: flex;
    justify-content: center;
}

p {
    color:wheat;
}

h3 {
    color:whitesmoke;

}